Deeplink Builder/Service References/FormDesignService/FormDesignManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://v81.api.keysurvey.com" xmlns:tns="http://design.form.v81.api.keysurvey.com" xmlns:ns2="http://user.v81.api.keysurvey.com" targetNamespace="http://design.form.v81.api.keysurvey.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://app.form.com:80/Member/api/v81/form/design/FormDesignManagementService?xsd=1" namespace="http://v81.api.keysurvey.com" />
  <xs:import schemaLocation="http://app.form.com:80/Member/api/v81/form/design/FormDesignManagementService?xsd=2" namespace="http://user.v81.api.keysurvey.com" />
  <xs:element name="addAnswer" type="tns:addAnswer" />
  <xs:element name="addAnswerResponse" type="tns:addAnswerResponse" />
  <xs:element name="addQuestion" type="tns:addQuestion" />
  <xs:element name="addQuestionResponse" type="tns:addQuestionResponse" />
  <xs:element name="createCompleteForm" type="tns:createCompleteForm" />
  <xs:element name="createCompleteFormResponse" type="tns:createCompleteFormResponse" />
  <xs:element name="createCompleteQuestion" type="tns:createCompleteQuestion" />
  <xs:element name="createCompleteQuestionResponse" type="tns:createCompleteQuestionResponse" />
  <xs:element name="createForm" type="tns:createForm" />
  <xs:element name="createFormResponse" type="tns:createFormResponse" />
  <xs:element name="deleteAnswer" type="tns:deleteAnswer" />
  <xs:element name="deleteAnswerResponse" type="tns:deleteAnswerResponse" />
  <xs:element name="deleteForm" type="tns:deleteForm" />
  <xs:element name="deleteFormResponse" type="tns:deleteFormResponse" />
  <xs:element name="deleteQuestion" type="tns:deleteQuestion" />
  <xs:element name="deleteQuestionResponse" type="tns:deleteQuestionResponse" />
  <xs:element name="getAnswer" type="tns:getAnswer" />
  <xs:element name="getAnswerByPosition" type="tns:getAnswerByPosition" />
  <xs:element name="getAnswerByPositionResponse" type="tns:getAnswerByPositionResponse" />
  <xs:element name="getAnswerIdentifier" type="tns:getAnswerIdentifier" />
  <xs:element name="getAnswerIdentifierResponse" type="tns:getAnswerIdentifierResponse" />
  <xs:element name="getAnswerPosition" type="tns:getAnswerPosition" />
  <xs:element name="getAnswerPositionResponse" type="tns:getAnswerPositionResponse" />
  <xs:element name="getAnswerResponse" type="tns:getAnswerResponse" />
  <xs:element name="getAnswers" type="tns:getAnswers" />
  <xs:element name="getAnswersResponse" type="tns:getAnswersResponse" />
  <xs:element name="getForm" type="tns:getForm" />
  <xs:element name="getFormDesign" type="tns:getFormDesign" />
  <xs:element name="getFormDesignResponse" type="tns:getFormDesignResponse" />
  <xs:element name="getFormLogic" type="tns:getFormLogic" />
  <xs:element name="getFormLogicResponse" type="tns:getFormLogicResponse" />
  <xs:element name="getFormNotes" type="tns:getFormNotes" />
  <xs:element name="getFormNotesResponse" type="tns:getFormNotesResponse" />
  <xs:element name="getFormPermissions" type="tns:getFormPermissions" />
  <xs:element name="getFormPermissionsResponse" type="tns:getFormPermissionsResponse" />
  <xs:element name="getFormResponse" type="tns:getFormResponse" />
  <xs:element name="getFormTree" type="tns:getFormTree" />
  <xs:element name="getFormTreeResponse" type="tns:getFormTreeResponse" />
  <xs:element name="getForms" type="tns:getForms" />
  <xs:element name="getFormsResponse" type="tns:getFormsResponse" />
  <xs:element name="getQuestion" type="tns:getQuestion" />
  <xs:element name="getQuestionByPosition" type="tns:getQuestionByPosition" />
  <xs:element name="getQuestionByPositionResponse" type="tns:getQuestionByPositionResponse" />
  <xs:element name="getQuestionFileUploadSettings" type="tns:getQuestionFileUploadSettings" />
  <xs:element name="getQuestionFileUploadSettingsResponse" type="tns:getQuestionFileUploadSettingsResponse" />
  <xs:element name="getQuestionIdentifier" type="tns:getQuestionIdentifier" />
  <xs:element name="getQuestionIdentifierResponse" type="tns:getQuestionIdentifierResponse" />
  <xs:element name="getQuestionLogic" type="tns:getQuestionLogic" />
  <xs:element name="getQuestionLogicResponse" type="tns:getQuestionLogicResponse" />
  <xs:element name="getQuestionPosition" type="tns:getQuestionPosition" />
  <xs:element name="getQuestionPositionResponse" type="tns:getQuestionPositionResponse" />
  <xs:element name="getQuestionResponse" type="tns:getQuestionResponse" />
  <xs:element name="getQuestionSettings" type="tns:getQuestionSettings" />
  <xs:element name="getQuestionSettingsResponse" type="tns:getQuestionSettingsResponse" />
  <xs:element name="getQuestions" type="tns:getQuestions" />
  <xs:element name="getQuestionsResponse" type="tns:getQuestionsResponse" />
  <xs:element name="getSubmissionPolicy" type="tns:getSubmissionPolicy" />
  <xs:element name="getSubmissionPolicyResponse" type="tns:getSubmissionPolicyResponse" />
  <xs:element name="moveAnswer" type="tns:moveAnswer" />
  <xs:element name="moveAnswerResponse" type="tns:moveAnswerResponse" />
  <xs:element name="moveQuestion" type="tns:moveQuestion" />
  <xs:element name="moveQuestionResponse" type="tns:moveQuestionResponse" />
  <xs:element name="setAnswerIdentifier" type="tns:setAnswerIdentifier" />
  <xs:element name="setAnswerIdentifierResponse" type="tns:setAnswerIdentifierResponse" />
  <xs:element name="setFormDesign" type="tns:setFormDesign" />
  <xs:element name="setFormDesignResponse" type="tns:setFormDesignResponse" />
  <xs:element name="setFormLogic" type="tns:setFormLogic" />
  <xs:element name="setFormLogicResponse" type="tns:setFormLogicResponse" />
  <xs:element name="setFormNotes" type="tns:setFormNotes" />
  <xs:element name="setFormNotesResponse" type="tns:setFormNotesResponse" />
  <xs:element name="setQuestionFileUploadSettings" type="tns:setQuestionFileUploadSettings" />
  <xs:element name="setQuestionFileUploadSettingsResponse" type="tns:setQuestionFileUploadSettingsResponse" />
  <xs:element name="setQuestionIdentifier" type="tns:setQuestionIdentifier" />
  <xs:element name="setQuestionIdentifierResponse" type="tns:setQuestionIdentifierResponse" />
  <xs:element name="setQuestionLogic" type="tns:setQuestionLogic" />
  <xs:element name="setQuestionLogicResponse" type="tns:setQuestionLogicResponse" />
  <xs:element name="setQuestionSettings" type="tns:setQuestionSettings" />
  <xs:element name="setQuestionSettingsResponse" type="tns:setQuestionSettingsResponse" />
  <xs:element name="setSubmissionPolicy" type="tns:setSubmissionPolicy" />
  <xs:element name="setSubmissionPolicyResponse" type="tns:setSubmissionPolicyResponse" />
  <xs:element name="updateAnswer" type="tns:updateAnswer" />
  <xs:element name="updateAnswerResponse" type="tns:updateAnswerResponse" />
  <xs:element name="updateForm" type="tns:updateForm" />
  <xs:element name="updateFormResponse" type="tns:updateFormResponse" />
  <xs:element name="updateQuestion" type="tns:updateQuestion" />
  <xs:element name="updateQuestionResponse" type="tns:updateQuestionResponse" />
  <xs:element name="wsAnswer" type="tns:WSAnswer" />
  <xs:element name="wsAnswerIdentifier" type="tns:WSAnswerIdentifier" />
  <xs:element name="wsAnswerRequiredType" type="tns:WSAnswerRequiredType" />
  <xs:element name="wsAnswerSortType" type="tns:WSAnswerSortType" />
  <xs:element name="wsCheckAllThatApplyQuestion" type="tns:WSCheckAllThatApplyQuestion" />
  <xs:element name="wsDropdownQuestion" type="tns:WSDropdownQuestion" />
  <xs:element name="wsFileUploadImageViewType" type="tns:WSFileUploadImageViewType" />
  <xs:element name="wsFileUploadSettings" type="tns:WSFileUploadSettings" />
  <xs:element name="wsForm" type="tns:WSForm" />
  <xs:element name="wsFormLogic" type="tns:WSFormLogic" />
  <xs:element name="wsFormatAnswer" type="tns:WSFormatAnswer" />
  <xs:element name="wsListBoxQuestion" type="tns:WSListBoxQuestion" />
  <xs:element name="wsLookupQuestion" type="tns:WSLookupQuestion" />
  <xs:element name="wsMatrixQuestion" type="tns:WSMatrixQuestion" />
  <xs:element name="wsMultiLineQuestion" type="tns:WSMultiLineQuestion" />
  <xs:element name="wsMultipleLookupQuestion" type="tns:WSMultipleLookupQuestion" />
  <xs:element name="wsNumericAllocationQuestion" type="tns:WSNumericAllocationQuestion" />
  <xs:element name="wsPickOneOrOtherQuestion" type="tns:WSPickOneOrOtherQuestion" />
  <xs:element name="wsPickOneWithCommentQuestion" type="tns:WSPickOneWithCommentQuestion" />
  <xs:element name="wsQuestion" type="tns:WSQuestion" />
  <xs:element name="wsQuestionIdentifier" type="tns:WSQuestionIdentifier" />
  <xs:element name="wsRankGridQuestion" type="tns:WSRankGridQuestion" />
  <xs:element name="wsSectionHeaderQuestion" type="tns:WSSectionHeaderQuestion" />
  <xs:element name="wsSingleLineQuestion" type="tns:WSSingleLineQuestion" />
  <xs:element name="wsUploadFileQuestion" type="tns:WSUploadFileQuestion" />
  <xs:complexType name="getQuestionByPosition">
    <xs:sequence>
      <xs:element name="formId" type="xs:long" />
      <xs:element name="position" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionByPositionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSQuestion" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="analysisCode" type="xs:string" />
          <xs:element minOccurs="0" name="answerRequiredCondition" type="xs:string" />
          <xs:element name="answerRequiredCount" type="xs:int" />
          <xs:element minOccurs="0" name="answerRequiredType" type="tns:WSAnswerRequiredType" />
          <xs:element minOccurs="0" name="answerSortType" type="tns:WSAnswerSortType" />
          <xs:element name="formId" type="xs:long" />
          <xs:element name="questionId" type="xs:long" />
          <xs:element minOccurs="0" name="text" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="MUST_ANSWER_ALL_ROWS" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSBaseQuestion" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSQuestion">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="answers" nillable="true" type="tns:WSAnswer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element name="answerId" type="xs:long" />
          <xs:element name="mandatory" type="xs:boolean" />
          <xs:element name="questionId" type="xs:long" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element name="weight" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSFormatAnswer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSAnswer">
        <xs:sequence>
          <xs:element name="patternId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSListBoxQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSBaseQuestion">
        <xs:sequence>
          <xs:element minOccurs="0" name="restrict" type="tns:WSAnswerRestriction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSAnswerRestriction">
    <xs:sequence>
      <xs:element name="answerRestrictionType" type="tns:WSAnswerRestrictionType" />
      <xs:element name="maxNumber" type="xs:int" />
      <xs:element name="minNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSNumericAllocationQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSBaseQuestion">
        <xs:sequence>
          <xs:element name="patternId" type="xs:long" />
          <xs:element minOccurs="0" name="total" type="tns:WSAnswer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSRankGridQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSBaseQuestion">
        <xs:sequence>
          <xs:element name="patternId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPickOneOrOtherQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSBaseQuestion">
        <xs:sequence>
          <xs:element minOccurs="0" name="other" type="tns:WSAnswer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPickOneWithCommentQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSBaseQuestion">
        <xs:sequence>
          <xs:element minOccurs="0" name="comment" type="tns:WSAnswer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSCheckAllThatApplyQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSBaseQuestion">
        <xs:sequence>
          <xs:element minOccurs="0" name="other" type="tns:WSAnswer" />
          <xs:element minOccurs="0" name="restrict" type="tns:WSAnswerRestriction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSDropdownQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSBaseQuestion">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSMatrixQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSBaseQuestion">
        <xs:sequence>
          <xs:element name="patternId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSLookupQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSBaseQuestion">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataGroupId" type="xs:long" />
          <xs:element minOccurs="0" name="dataModelId" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fieldFilters" nillable="true" type="tns:WSLookupFieldFilter" />
          <xs:element minOccurs="0" name="label" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="predefinedFilters" nillable="true" type="tns:WSLookupPredefinedFilter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSLookupFieldFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataModelFieldId" type="xs:long" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="label" type="xs:string" />
          <xs:element minOccurs="0" name="order" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSLookupPredefinedFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="condition" type="tns:wsLookupFilterCondition" />
          <xs:element minOccurs="0" name="dataModelFieldId" type="xs:long" />
          <xs:element minOccurs="0" name="filterAnswerId" type="xs:long" />
          <xs:element minOccurs="0" name="filterColumnIndex" type="xs:int" />
          <xs:element minOccurs="0" name="filterQuestionId" type="xs:long" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="logic" type="tns:wsLookupFilterLogic" />
          <xs:element minOccurs="0" name="order" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSMultipleLookupQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSLookupQuestion">
        <xs:sequence>
          <xs:element minOccurs="0" name="checkboxesPerPage" type="xs:int" />
          <xs:element minOccurs="0" name="columnsPerPage" type="xs:int" />
          <xs:element minOccurs="0" name="customNameFormat" type="xs:string" />
          <xs:element name="mustCheck" type="xs:boolean" />
          <xs:element minOccurs="0" name="rangeEnd" type="xs:int" />
          <xs:element minOccurs="0" name="rangeStart" type="xs:int" />
          <xs:element minOccurs="0" name="rangeType" type="tns:wsRangeType" />
          <xs:element name="useCustomNameFormat" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSUploadFileQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSSingleLineQuestion">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSSingleLineQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSQuestion">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="answers" nillable="true" type="tns:WSFormatAnswer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSSectionHeaderQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSQuestion">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSMultiLineQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSBaseQuestion">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="createCompleteQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="question" type="tns:WSQuestion" />
      <xs:element minOccurs="0" name="questionSettings" type="tns:WSQuestionSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSQuestionSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element name="displayLayout" type="xs:int" />
          <xs:element name="hideQuestion" type="xs:boolean" />
          <xs:element name="newPageNumber" type="xs:boolean" />
          <xs:element name="questionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="createCompleteQuestionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestions">
    <xs:sequence>
      <xs:element name="formId" type="xs:long" />
      <xs:element name="withAnswer" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:WSQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAnswerByPosition">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
      <xs:element name="position" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAnswerByPositionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setQuestionLogic">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
      <xs:element minOccurs="0" name="questionLogic" type="tns:WSQuestionLogic" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSQuestionLogic">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="advancedLogics" nillable="true" type="tns:WSAdvancedLogic" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fuzzyJumpLogics" nillable="true" type="tns:WSFuzzyJumpLogic" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fuzzyLogicList" nillable="true" type="tns:WSFuzzyJumpLogic" />
          <xs:element minOccurs="0" name="goToLogic" type="tns:WSGoToLogic" />
          <xs:element name="questionId" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="showHideLogics" nillable="true" type="tns:WSShowHideLogic" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="skipLogics" nillable="true" type="tns:WSSkipLogic" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSAdvancedLogic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSLogic">
        <xs:sequence>
          <xs:element minOccurs="0" name="conditionalExpression" type="xs:string" />
          <xs:element name="orderId" type="xs:long" />
          <xs:element name="questionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSLogic" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSGoToLogic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSLogic">
        <xs:sequence>
          <xs:element name="qustionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSSkipLogic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSLogic">
        <xs:sequence>
          <xs:element name="answerId" type="xs:long" />
          <xs:element name="questionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSFuzzyJumpLogic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSLogic">
        <xs:sequence>
          <xs:element minOccurs="0" name="maxValue" type="xs:string" />
          <xs:element minOccurs="0" name="minValue" type="xs:string" />
          <xs:element name="questionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSShowHideLogic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSLogic">
        <xs:sequence>
          <xs:element name="active" type="xs:boolean" />
          <xs:element name="answerId" type="xs:long" />
          <xs:element name="columnId" type="xs:long" />
          <xs:element minOccurs="0" name="computerFormatExpression" type="xs:string" />
          <xs:element minOccurs="0" name="humanFormatExpression" type="xs:string" />
          <xs:element name="id" type="xs:long" />
          <xs:element minOccurs="0" name="operation" type="tns:WSShowHideOperation" />
          <xs:element name="questionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="setQuestionLogicResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="deleteForm">
    <xs:sequence>
      <xs:element name="formId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteFormResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getQuestionFileUploadSettings">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionFileUploadSettingsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSFileUploadSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFileUploadSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element name="allType" type="xs:boolean" />
          <xs:element name="allowChoseGallery" type="xs:boolean" />
          <xs:element name="allowEditImage" type="xs:boolean" />
          <xs:element name="docEnable" type="xs:boolean" />
          <xs:element name="docSize" type="xs:long" />
          <xs:element minOccurs="0" name="fileExtensions" type="xs:string" />
          <xs:element name="fileSize" type="xs:long" />
          <xs:element minOccurs="0" name="fileUploadImageViewType" type="tns:WSFileUploadImageViewType" />
          <xs:element name="imageEnable" type="xs:boolean" />
          <xs:element name="imageFileSize" type="xs:int" />
          <xs:element name="imageQuality" type="xs:long" />
          <xs:element name="otherEnable" type="xs:boolean" />
          <xs:element name="questionId" type="xs:long" />
          <xs:element name="surveyId" type="xs:long" />
          <xs:element minOccurs="0" name="watermarkType" type="tns:fileUploadWatermarkType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="setFormLogic">
    <xs:sequence>
      <xs:element minOccurs="0" name="formLogic" type="tns:WSFormLogic" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFormLogic">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element name="formId" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="logicList" nillable="true" type="tns:WSQuestionLogic" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="setFormLogicResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="deleteAnswer">
    <xs:sequence>
      <xs:element name="answerId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteAnswerResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getFormTree">
    <xs:sequence>
      <xs:element name="formId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFormTreeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSFormTree" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFormTree">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSForm">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="questions" nillable="true" type="tns:WSQuestion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSForm">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element name="accountId" type="xs:long" />
          <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element name="id" type="xs:long" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="setQuestionSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="questionSetting" type="tns:WSQuestionSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setQuestionSettingsResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="moveAnswer">
    <xs:sequence>
      <xs:element name="answerId" type="xs:long" />
      <xs:element name="offset" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moveAnswerResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="createForm">
    <xs:sequence>
      <xs:element minOccurs="0" name="form" type="tns:WSForm" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="questionList" type="tns:WSQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createFormResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setFormNotes">
    <xs:sequence>
      <xs:element minOccurs="0" name="formNotes" type="tns:WSFormNotes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFormNotes">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element name="formId" type="xs:long" />
          <xs:element minOccurs="0" name="notes" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="setFormNotesResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSubmissionPolicy">
    <xs:sequence>
      <xs:element name="formId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSubmissionPolicyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSSubmissionPolicy" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSSubmissionPolicy">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element name="backButton" type="xs:boolean" />
          <xs:element name="duplicateAction" type="xs:int" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element name="formId" type="xs:long" />
          <xs:element name="maxRespondents" type="xs:long" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element name="timeLimitToAnswer" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getAnswers">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAnswersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:WSAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setAnswerIdentifier">
    <xs:sequence>
      <xs:element name="answerId" type="xs:long" />
      <xs:element minOccurs="0" name="identifier" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setAnswerIdentifierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSAnswerIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSAnswerIdentifier">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="answerId" type="xs:long" />
          <xs:element minOccurs="0" name="identifier" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="updateForm">
    <xs:sequence>
      <xs:element minOccurs="0" name="form" type="tns:WSForm" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateFormResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getFormLogic">
    <xs:sequence>
      <xs:element name="formId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFormLogicResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSFormLogic" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="answer" type="tns:WSAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addAnswerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setQuestionIdentifier">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
      <xs:element minOccurs="0" name="identifier" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setQuestionIdentifierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSQuestionIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSQuestionIdentifier">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="identifier" type="xs:string" />
          <xs:element minOccurs="0" name="questionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="setSubmissionPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" name="submissionPolicy" type="tns:WSSubmissionPolicy" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setSubmissionPolicyResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getQuestionPosition">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionPositionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFormNotes">
    <xs:sequence>
      <xs:element name="formId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFormNotesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSFormNotes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createCompleteForm">
    <xs:sequence>
      <xs:element minOccurs="0" name="form" type="tns:WSForm" />
      <xs:element minOccurs="0" name="formDesign" type="tns:WSFormDesign" />
      <xs:element minOccurs="0" name="submissionPolicy" type="tns:WSSubmissionPolicy" />
      <xs:element minOccurs="0" name="formNotes" type="tns:WSFormNotes" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="questionList" type="tns:WSQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFormDesign">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:WSObject">
        <xs:sequence>
          <xs:element name="footerAlignement" type="tns:WSFormAlign" />
          <xs:element minOccurs="0" name="footerText" type="xs:string" />
          <xs:element name="formId" type="xs:long" />
          <xs:element minOccurs="0" name="headerText" type="xs:string" />
          <xs:element name="progressIndicatorType" type="xs:boolean" />
          <xs:element name="showPageNumber" type="xs:boolean" />
          <xs:element minOccurs="0" name="thankYouPage" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="createCompleteFormResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestion">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
      <xs:element name="withAnswer" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionIdentifier">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionIdentifierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSQuestionIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getForm">
    <xs:sequence>
      <xs:element name="formId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFormResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSForm" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionLogic">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionLogicResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSQuestionLogic" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAnswerIdentifier">
    <xs:sequence>
      <xs:element name="answerId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAnswerIdentifierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSAnswerIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="question" type="tns:WSQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addQuestionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="answer" type="tns:WSAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateAnswerResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getFormDesign">
    <xs:sequence>
      <xs:element name="formId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFormDesignResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSFormDesign" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="question" type="tns:WSQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateQuestionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getForms">
    <xs:sequence>
      <xs:element name="accountId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFormsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:WSForm" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAnswerPosition">
    <xs:sequence>
      <xs:element name="answerId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAnswerPositionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionSettings">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getQuestionSettingsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSQuestionSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moveQuestion">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
      <xs:element name="offset" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moveQuestionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="setFormDesign">
    <xs:sequence>
      <xs:element minOccurs="0" name="formDesign" type="tns:WSFormDesign" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setFormDesignResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="deleteQuestion">
    <xs:sequence>
      <xs:element name="questionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteQuestionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAnswer">
    <xs:sequence>
      <xs:element name="answerId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAnswerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setQuestionFileUploadSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileUploadSettings" type="tns:WSFileUploadSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setQuestionFileUploadSettingsResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getFormPermissions">
    <xs:sequence>
      <xs:element name="formId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFormPermissionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns2:WSFormPermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="WSAnswerRequiredType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALLOW_TO_SKIP" />
      <xs:enumeration value="SKIP_WITH_ALERT" />
      <xs:enumeration value="MUST_ANSWER" />
      <xs:enumeration value="MUST_ANSWER_CONDITIONAL" />
      <xs:enumeration value="MUST_ANSWER_SELECTED" />
      <xs:enumeration value="MUST_ANSWER_ALL_RATE_DIFF" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WSAnswerSortType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOSORT" />
      <xs:enumeration value="ROTARING" />
      <xs:enumeration value="ALFABETICAL_ASC" />
      <xs:enumeration value="ALFABETICAL_DESC" />
      <xs:enumeration value="HASHING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WSAnswerRestrictionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALL" />
      <xs:enumeration value="ANY" />
      <xs:enumeration value="DEFINED_BY_NUMBER_FIELDS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="wsLookupFilterCondition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNDEFINED" />
      <xs:enumeration value="EQUALS" />
      <xs:enumeration value="NOT_EQUALS" />
      <xs:enumeration value="BEFORE" />
      <xs:enumeration value="BEFORE_OR_EQUALS" />
      <xs:enumeration value="AFTER" />
      <xs:enumeration value="AFTER_OR_EQUALS" />
      <xs:enumeration value="CONTAINS" />
      <xs:enumeration value="NOT_CONTAINS" />
      <xs:enumeration value="PROFILE_MATCH" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="NOT_IN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="wsLookupFilterLogic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNDEFINED" />
      <xs:enumeration value="AND" />
      <xs:enumeration value="OR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="wsRangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNDEFINED" />
      <xs:enumeration value="BETWEEN" />
      <xs:enumeration value="MORE_OR_EQUAL" />
      <xs:enumeration value="LESS_OR_EQUAL" />
      <xs:enumeration value="EQUAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WSShowHideOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="SHOW" />
      <xs:enumeration value="HIDE" />
      <xs:enumeration value="SHOW_NO_CLEAR" />
      <xs:enumeration value="HIDE_NO_CLEAR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WSFileUploadImageViewType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SMALL" />
      <xs:enumeration value="MEDIUM" />
      <xs:enumeration value="LARGE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fileUploadWatermarkType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISABLE" />
      <xs:enumeration value="DATE" />
      <xs:enumeration value="DATE_TIME" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WSFormAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LEFT" />
      <xs:enumeration value="HORIZONTAL_CENTER" />
      <xs:enumeration value="RIGHT" />
      <xs:enumeration value="NON_VISIBLE_LEFT" />
      <xs:enumeration value="NON_VISIBLE_HORIZONTAL_CENTER" />
      <xs:enumeration value="NON_VISIBLE_RIGHT" />
      <xs:enumeration value="JUSTIFY" />
      <xs:enumeration value="NON_VISIBLE_JUSTIFY" />
      <xs:enumeration value="TOP" />
      <xs:enumeration value="BASELINE" />
      <xs:enumeration value="VERTICAL_CENTER" />
      <xs:enumeration value="BOTTOM" />
      <xs:enumeration value="NON_VISIBLE_TOP" />
      <xs:enumeration value="NON_VISIBLE_VERTICAL_CENTER" />
      <xs:enumeration value="NON_VISIBLE_BASELINE" />
      <xs:enumeration value="NON_VISIBLE_BOTTOM" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>